<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="D:\Log\Kaldoku.log"/>
    <add key="SettingFilePath" value ="D:\CODE\visual studio 2010\Projects\Kaldoku\Kaldoku\Kaldoku\File\"/>
    <add key="SettingFileName" value ="Dictionary.bin"/>
  </appSettings>
</configuration>